# .env.example
APP_ENV=dev
APP_SECRET=your_secret_key_here

DATABASE_URL=mysql://username:password@db:3306/database_name?serverVersion=8.0
REDIS_URL=redis://redis:6379
DEFAULT_URI="http://localhost:8080"